/* CSS File */

body {
    background-image: url('OwlSpace/OwlScreenshot.jpg'); /* Path to your image */
    background-size: cover;  /* Ensures the image covers the whole screen */
    background-position: center;  /* Centers the image */
    background-attachment: fixed;  /* Keeps the background fixed during scroll */
}

h1 {
    background-color: green;
}

div {
    background-color: lightblue;
}

p {
    background-color: yellow;
}
